.profit-explorer-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  height: 1500px;
}

.profit-explorer-iframe {
  width: 100%;
  height: 100%;
}
.bg-gradient-white{
  min-height: 224px;
}